
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:'Segoe UI', sans-serif;
}

body{
    min-height:100vh;
    background-image:url(parkolo.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.container{
    width:100%;
    max-width:550px;
    background:rgba(255,255,255,0.15);
    backdrop-filter: blur(15px);
    padding:30px;
    border-radius:20px;
    box-shadow:0 15px 35px rgba(0,0,0,0.3);
    color:white;
}

h2{
    text-align:center;
    margin-bottom:20px;
    font-weight:600;
    letter-spacing:1px;
}

label{
    margin-top:15px;
    display:block;
    font-size:14px;
    opacity:0.9;
}

select,input{
    width:100%;
    padding:10px;
    margin-top:5px;
    border:none;
    border-radius:10px;
    outline:none;
    font-size:14px;
}

select,input{
    background:rgba(255,255,255,0.9);
    color:#333;
}

.checkbox{
    margin-top:15px;
    display:flex;
    align-items:center;
    gap:10px;
}

button{
    margin-top:25px;
    width:100%;
    padding:12px;
    border:none;
    border-radius:12px;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    background: linear-gradient(135deg,#00c6ff,#0072ff);
    color:white;
    transition:0.3s;
}

button:hover{
    transform:translateY(-2px);
    box-shadow:0 8px 20px rgba(0,0,0,0.3);
}

.result{
    margin-top:20px;
    padding:15px;
    border-radius:15px;
    background:rgba(0,255,200,0.2);
    border:1px solid rgba(255,255,255,0.3);
    display:none;
}

.ticket{
    margin-top:15px;
    padding:15px;
    background:#111;
    color:#00ff99;
    border-radius:10px;
    font-family:monospace;
    display:none;
    white-space:pre-line;
    box-shadow: inset 0 0 10px rgba(0,255,150,0.3);
}